/public/mix-manifest.json
/public/images/
/public/fonts/
/node_modules
/vendor
/storage/*.key
/.idea
.env
/public/vali-admin/js/app.js
/public/vali-admin/css/app.css
/public/miracle/js/miracle.js
/.php_cs.cache
/.php_cs
/.vagrant/
/_ide_helper.php
/package-lock.json
/composer.lock
/yarn.lock