/node_modules
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/public/images/
.env
/package-lock.json
/public/vali-admin/js/app.js
/public/vali-admin/css/app.css
/public/miracle/js/miracle.js
/yarn.lock
